html,
body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.nav-title-name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.nav-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.nav-btn-logo {
    height: 20px;
    width: 20px;
}

.hero-title {
    padding-left: 44px;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;

    color: #000000
}

.hero-p {
    padding-left: 44px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #4A5568;
}

.card-1 {
    padding-left: 55px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    /* 800 */

    color: #2D3748;
}

.card-1-p {
    padding-left: 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* 600 */

    color: #718096
}